{
  "plugins": [
    "stylelint-scss",
    "stylelint-prettier"
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-concentric-order",
    "stylelint-config-standard-scss",
    "stylelint-prettier/recommended"
  ],
  "rules": {
    "scss/at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "tailwind"
        ]
      }
    ],
    "prettier/prettier": [true, { "singleQuote": false }]
  },
  "ignoreFiles": [
    "dist/**/*",
    "build/**/*",
    "node_modules/**/*"
  ]
}
